<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Blog Posts</h1>
    {% if user.is_authenticated %}
        <button onclick="location.href = '{% url 'profile' %}'">Profile</button>
        <button onclick="location.href = '{% url 'logout' %}'">Log Out</button>
    {% else %}
        <button onclick="location.href = '{% url 'login' %}'">Log In</button>
        <button onclick="location.href = '{% url 'register' %}'">Register</button>
    {% endif %}
    <span>
        <div> 
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form.non_field_errors }}
            
            {{ form.as_p }}
            
            <button type="submit">Submit</button>
        </form>
        </div>
    </span>
    <button onclick= "location.href = '{% url 'new_post' forum_pk=forum_pk %}'">New Post</button>
    {% for post in posts %}
        <h3 onclick="location.href = '{% url 'post_detail' pk=post.id page_number=1 %}'">{{ post.post_ref__title }}</h3>
    {% endfor %}

</body>
</html>