<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/login_form.css' %}">
</head>
<body>

    <div class = "main_form">
        <h2>Login Form</h2>
        <form method="post">
            {% csrf_token %}

            {{ form.as_custom|safe }}

            <input class = "fields" type="hidden" name="next" value="{% url 'home' pk=0 page_number=1 %}" />

            <button type="submit">Submit</button>
        </form>
        <p class = "already">Don't have an account? Register <a href="{% url 'register' %}">here</a>.</p>
    </div>
</body>
</html>