<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% load static %}
</head>
<body>
    <h1 style="display: inline" onclick="location.href = '{% url 'home' pk=0 page_number=1 %}'">Home</h1>
    <h2 style="display: inline;"> | {{ post.title }}</h2>
    <p></p>
    <h4 style="display: inline;">{{ post.user_ref.username }}</h4>
    <span> | <p style="display: inline">
        {{ post.created_at }}</p></span>
    <p>{{ post.content }}</p>
    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 700px; max-height: 700px;">
    <h5 id="post_upvote">Upvote: {{ post_upvotes }}</h5>
    <h5 id="post_downvote">Downvote: {{ post_downvotes }}</h5>
    <h2>Comments: </h2>
    {% comment %}
    TODO Add vote counters in comments and their interactivity
    Current plan, use javascript and jqeury
    {% endcomment %}

    <div id="comment-section">
        {% for comment in comments %}
            <div class="comments">
                <div data-value="{{ comment.id }}">
                    <div>{{ comment.user_ref__username }}</div>
                    <div>{{ comment.created_at }}</div>
                    <p>{{ comment.content }}</p>
                    <img src="/media/{{ comment.image }}" style="max-width: 700px; max-height: 700px;" alt="{{ comment.title }}">
                    <div class="comment_votes">
                        <h5>Upvote: </h5>
                        <h5>Downvote: </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>
<script>
    var user_post_pk = {{ user_post_pk }}
    var csrf_token = '{{ csrf_token }}'
    var post_vote_url = '{% url 'post_vote' %}'
</script>
<script src="{% static 'blog/js/post_detail.js' %}"></script>
</html>